body {
    margin: 0;
    display: grid;
    grid-template-areas: 
    "header"
    "main";
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    box-sizing: border-box;
    padding: 20px;
    color: white;
}

.morning {
    background-image: url("./assets/Images/morning.jpg");
    text-shadow: 1px 1px 2px #002d7b;;
}

.night {
    background-image: url("./assets/Images/night.jpg");
}

p {
    margin: 0;
}

ul {
    padding: 0;
}