.daily {
    grid-area: daily;
}

.daily > p {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: lighter;
}

.daily ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(9, auto);
    gap: 10px;
    margin: 0;
    margin-bottom: 20px;
}

.daily ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    width: 150px;
    background-color: var(--white-shade);
    font-size: 20px;
}

.daily ul li i {
    font-size: 40px;
}